---
layout: default
pagination: 
  enabled: true
---
<div class="home">

  <div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
    <div class="scrim {% if site.cover %}has-cover{% endif %}">
      <header class="site-header">
        <h1 class="title">{{ site.title }}</h1>
        {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
      </header>
    </div>
  </div>

<div class="wrapper">
    <div class="about-section">
			<h2>About Me</h2>
  		<img src="{{ site.baseurl }}/assets/photos/headshot_jaros.jpg" alt="Profile Picture" class="profile-picture" style="float: left; margin-right: 15px; border-radius: 50%; max-width: 150px;">
  		<p>I am a Ph.D candidate in Economics in the John E. Walker Department of Economics at Clemson University. My research interests are in public finance, financial economics, and economic history. I am particularly interested in federal, state, and local tax policy. My current research focuses on state and local tax policy and state tax credits and incentives.</p>
			<p>If you have any questions about my work or would like to contact me, feel free to do so.</p>
    </div>

<div class="about-site-section">
      <h2>About the Site</h2>
      <p>On this site you will find my CV and other items for the Job Market, links to my projects on GitHub, and (eventually) my tax blog, which I hope to include my less formal, but perhaps instructive, observations in the tax policy space.</p>
    </div>

 <div class="contact-section">
      <h2>📬 Contact</h2>
      <ul>
        <li>Email: <a href="mailto:bjaros@clemson.edu">bjaros@clemson.edu</a></li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/benjamin-jaros-a3a318121/" target="_blank">Benjamin Jaros</a></li>
        <li>GitHub: <a href="https://github.com/bjaros20" target="_blank">bjaros20</a></li>
      </ul>
    </div>
  </div>
</div>

